body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}


.col-md-4 {
    margin: 15px auto;
}





.navbar {
    text-transform: uppercase;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6) !important;

    letter-spacing: 5px;
}

.navbar-brand img {
    height: 100px;
}

.navbar-nav li {
    padding-right: 60px;
}

.navbar-toggler {
    background: grey;
    opacity: 0.5;
}








.info {
    background: white url(images/info1.jpg) no-repeat center center;
    background-size: cover;

    height: calc(110vh - 75px);

    width: 100%;
    box-shadow: 0px 0px 3px 3px grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 3%;
}

.info h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 12px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.moreInfo a {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}





.news h3 {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;

    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.news::after {
    content: ' ';
    background: rgb(0, 225, 255);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 6%;
}







.NEWS1 {
    margin: 3%;
}

.NEWScard {
    padding: 100px 10px 10px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 2px rgba(0, 38, 255, 0.2);
}

.NEWScard img {
    top: -20px;
    position: absolute;
    right: calc(63% - 60px);

    width: 160px;
    height: auto;
    border-radius: 10%;

    box-shadow: 0px 0px 5px 1px rgba(0, 38, 255, 0.2);
}

.NEWScard h3 {
    font-size: 12px;
    margin-top: 15px;
    color: black;
}

.NEWScard h5 {
    font-size: 15px;
    margin-top: 15px;
    color: black;
}

.NEWScard a {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 183, 255);
    border-radius: 40px;

    color: white;
    font-size: 18px;
    text-decoration: none;
    width: auto;
}

.NEWScard a:hover {
    background: rgb(255, 0, 0);
    opacity: 0.8;
    transition: 0.8s ease;
}

.NEWScard img:hover {
    transition: 0.8s ease;
    transform: scale(1.3);
}







.about h3 {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about::after {
    content: ' ';
    background: rgb(255, 0, 0);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 3%;
}







.Model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;

    margin-bottom: 6%;

    height: auto;
}

.Model img {
    border-radius: 10%;
    width: 320px;
    height: auto;
}

.Model h3 {
    position: absolute;

    top: -80px;

    text-align: center;
    width: 100%;
    font-weight: bold;
    color: black;
    box-shadow: 0px 0px 8px 1px gray;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    background: white;
    border-radius: 5%;
    width: auto;
    opacity: 0.7;
}

.Model:hover h3{
    top: 50%;
    transition: .5s ease;
}





.sports {
    background: whitesmoke url(images/sport2.jpg) no-repeat center center;
    background-size: cover;
    height: calc(30vh - 20px);
    width: 100%;
    box-shadow: 0px 0px 10px 8px grey;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3%;
}

.sports p {
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}