body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}


.col-md-4 {
    margin: 15px auto;
}





.navbar {
    text-transform: uppercase;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6) !important;

    letter-spacing: 5px;
}

.navbar-brand img {
    height: 100px;
}

.navbar-nav li {
    padding-right: 60px;
}

.navbar-toggler {
    background: grey;
    opacity: 0.5;
}








.info {
    background: white url(images/info1.jpg) no-repeat center center;
    background-size: cover;

    height: calc(110vh - 75px);

    width: 100%;
    box-shadow: 0px 0px 3px 3px grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 3%;
}

.info h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 12px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.moreInfo a {
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}





.news h3 {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;

    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.news::after {
    content: ' ';
    background: rgb(0, 225, 255);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 6%;
}







.NEWS1 {
    margin: 3%;
}

.NEWScard {
    padding: 100px 10px 10px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 2px rgba(0, 38, 255, 0.2);
}

.NEWScard img {
    top: -20px;
    position: absolute;
    right: calc(63% - 60px);

    width: 160px;
    height: auto;
    border-radius: 10%;

    box-shadow: 0px 0px 5px 1px rgba(0, 38, 255, 0.2);
}

.NEWScard h3 {
    font-size: 12px;
    margin-top: 15px;
    color: black;
}

.NEWScard h5 {
    font-size: 15px;
    margin-top: 15px;
    color: black;
}

.NEWScard a {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 183, 255);
    border-radius: 40px;

    color: white;
    font-size: 18px;
    text-decoration: none;
    width: auto;
}

.NEWScard a:hover {
    background: rgb(255, 0, 0);
    opacity: 0.8;
    transition: 0.8s ease;
}

.NEWScard img:hover {
    transition: 0.8s ease;
    transform: scale(1.3);
}







.about h3 {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about::after {
    content: ' ';
    background: rgb(255, 0, 0);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 3%;
}







.Model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;

    margin-bottom: 6%;

    height: auto;
}

.Model img {
    border-radius: 10%;
    width: 320px;
    height: auto;
}

.Model h3 {
    position: absolute;

    top: -80px;

    text-align: center;
    width: 100%;
    font-weight: bold;
    color: black;
    box-shadow: 0px 0px 8px 1px gray;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    background: white;
    border-radius: 5%;
    width: auto;
    opacity: 0.7;
}

.Model:hover h3{
    top: 50%;
    transition: .5s ease;
}





.sports {
    background: whitesmoke url(images/sport2.jpg) no-repeat center center;
    background-size: cover;
    height: calc(30vh - 20px);
    width: 100%;
    box-shadow: 0px 0px 10px 8px grey;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3%;
}

.sports p {
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}








.sportCARS {
    display: flex;
    justify-content: center;

    margin-bottom: 3%;
}

.SPORTCca {
    position: relative;

    height: 300px;
    width: auto;

    box-shadow: 0 0px 5px rgba(0, 0, 0, .5);
}

.imgSPOR img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.infoSPRT {
    position: absolute;

    bottom: 0;
    width: 100%;

    background: beige;
    opacity: 0.7;
    box-shadow: 0px 0px 5px 5px white;

    overflow: hidden;
    height: 30px;
    text-align: center;
}

.infoSPRT h3 {
    font-size: 27px;
    font-weight: bold;
}

.infoSPRT p {
    color: black;
    padding: 10%;
}

.infoSPRT p:hover {
    transition: 0.5s ease;
}

.infoSPRT:hover {
    transition: 0.5s ease;

    width: 100%;
    height: 100%;
}







.history h3 {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.history::after {
    content: ' ';
    background: rgb(0, 225, 255);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    margin-bottom: 5%;
}





.infoHISTORY {
    background: url(images/his1.jpg)no-repeat center center;
    background-size: cover;
    border-radius: 50px;

    height: auto;

    max-width: 100%;
    box-shadow: 0px 0px 3px 3px grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 5%;
}

.infoHISTORY p {
    background: white;
    opacity: 0.5;
    border-radius: 10px 20px;

    font-size: 21px;
    color: black;
    text-align: center;

    margin: 9%;
}

.infoHISTORY a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;

    background: rgb(0, 183, 255);
    border-radius: 50px 5px;
    opacity: 0.8;

    color: black;
    font-size: 25px;

    width: 20%;
}

.infoHISTORY a:hover {
    background: rgb(255, 0, 0);
    opacity: 0.8;
    transition: 0.8s ease;
}





.contact {
    background: whitesmoke url(images/maps7.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    width: 100%;
    height: auto;

    box-shadow: 0px 0px 8px 1px grey;

    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1%;
}

.contact h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
}

.EnterText {
    background: whitesmoke;
    opacity: 0.5;

    width: 100%;
    height: auto;
}

.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    margin: 3%;
}

.enterr {
    background: rgb(0, 183, 255);
    opacity: 0.9;
    outline: none;
    color: white;
    border-radius: 7%;

    width: 40%;
    height: auto;

    font-size: 18px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.enterr:hover {
    background: rgb(255, 0, 0);
    opacity: 0.9;
    transition: 0.8s ease;
}




.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 12px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}